@media only screen and (max-width: 770px) {
  .cards{
    grid-template-columns: auto auto !important;
  }
  .heading{
    font-size: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .cards{
    grid-template-columns: auto !important;
  }
  .heading{
    margin-top: 25px !important;
    font-size: 20px;
  }
  .cards{
    margin: 20px auto auto auto !important;
  }
}
body{
  background : #eeeeee;
  font-family: sans-serif;
}
.heading{
  width : 100%;
  margin-top :60px;
  text-align: center;
}
.cards {

  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 10px;
  margin: 50px auto auto auto;
  max-width: 700px;
}
.card {
  /* background-color: rgb(73, 175, 175); */
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  font-size: 30px;
  width: 180px;
  text-align: center;
  cursor: pointer;
}
.image{
  margin-top: 60px;
}
.name{
  margin: 40px auto 15px auto;
  font-size: 18px;
  font-weight: bold;
}
.id{
  float: left;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  padding: 2px;
  border-radius: 2px;
  font-family: monospace;
}
.card:hover{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#_1{
  background-color : #d0ffeb !important;
  border : 1px solid #8ee0bd;
}
#_1 .id{
  background-color: #75b99c;
}
#_2{
  background-color : #ffd6a5 !important;
  border : 1px solid #e98004;
}
#_2 .id{
  background-color: #e98004;
}
#_3{
  background-color : #dcfffe !important;
  border : 1px solid #6aaba9;
}
#_3 .id{
  background-color: #49a4a0;
}


